# @Author: xiaocao
# @Date:   2023-04-20 10:59:15
# @Last Modified by:   xiaocao
# @Last Modified time: 2023-04-20 17:28:45

version: "0.1"
services:

  v2ray:
    image: v2fly/v2fly-core
    container_name: v2ray
    ports:
      - 8886:8886
      - 8887:8887
    command: run -c /etc/v2ray/config.json
    
    volumes:
      - ./config/v2ray-server.json:/etc/v2ray/config.json
    restart: unless-stopped
  
  warp-proxy:
    image: wdjoys/warp-proxy
    container_name: warp-proxy
    expose:
     - 40001

    restart: unless-stopped
